* {
    background-color: #4b4a4a;
}

.container{
    height: 100%;
    color: #b9b9b9;
    padding: 0;
    margin: 0;
    width:100%;
}

h2 {
    color:darkgrey;
}

.alert-info {
    background-color: #4b4a4a;
    color: #b9b9b9;
}

.page-header{
    text-align: center;
    vertical-align: middle;
    border: 0;
}

.nav-tabs{
    border:0;
}

